<html>
</head>
	<script>	
		setTimeout(function(){		
		document.body.style.height = document.body.children[0].clientHeight;
		},300);		
	</script>
</head>
<body>
<div id="first">
<p>
  <strong>Title:</strong>
  <%= @support_good.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @support_good.description.html_safe if @support_good.description %>
</p>


<p>
  <strong>Available:</strong>
  <%= @support_good.available %>
</p>
<p>
  <strong>Categories:</strong>
  <%= @support_good.categories %>
</p>
<p>
  <strong>Price:</strong>
  <%= @support_good.price %>
</p>

<%= link_to 'Edit', edit_support_good_path(@support_good) %> |
<%= link_to 'Back', support_goods_path %>
></div>
</body>
</html>
