<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @partner.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @partner.description %>
</p>

<p>
  <strong>Img:</strong>
  <%= @partner.img %>
</p>

<p>
  <strong>Link:</strong>
  <%= @partner.link %>
</p>

<%= link_to 'Edit', edit_partner_path(@partner) %> |
<%= link_to 'Back', partners_path %>
