<ul>
	<% Category.all.each do |r| %>
		<%if r.super_category == ""%>  		
			<li> <a style="font-size:14pt;color:#000;"><%=r.title%></a>
			<%= link_to ' Изменить ', edit_category_path(r) %>
			<%= link_to ' Добавить подкатегорию ', r, method: :add %>	
        	<%end%> 
		<%if r.sub_category != ""%>
			</li>     		
			<% r.sub_category.to_s.split(',').each do |p| %>
				<li><a style="margin-left:20px;color:red;font-size:12pt;"><%= Category.find(p.to_i).title%></a>
				<%= link_to 'Изменить ', edit_category_path(r) %>
				<%= link_to ' Добавить подкатегорию ', r, method: :add %>
				<%= link_to ' Удалить ', r, method: :delete, data: { confirm: 'Are you sure?' } %></li>
			<%end%>
		<%else%>
			<%= link_to 'Удалить', r, method: :delete, data: { confirm: 'Are you sure?' } %></li>
		<%end%>
	<%end%>
</ul>
