<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @category.title %>
</p>

<p>
  <strong>Sub category:</strong>
  <%= @category.sub_category %>
</p>

<p>
  <strong>Super category:</strong>
  <%= @category.super_category %>
</p>

<p>
  <strong>Descritpion:</strong>
  <%= @category.descritpion %>
</p>

<%= link_to 'LOL',  category, method: :add %> |
<%= link_to 'Back', categories_path %>
