<!DOCTYPE html>
<html>
<head>
  <title>Delux</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
<link href="justified-nav.css" rel="stylesheet">
</head>
<body>
<div class="container">
<%=render 'layouts/menu' %>

<%= yield %>
</div>
<style>
.fcolor {
	background:#88aee1;
	padding-top:10px;
	padding-bottom:10px;
}
</style>
<div class="footer text-center">
	<div class="row fcolor">
		<% i = Office.all.length%>
		<% i = 4 if i > 4%>
		<% iter = 0%>
		<% Office.all.each do |f| %>		
			<% break if iter == 4%>	
			<div class=span<%= 12/i%>>
			<h5><%= f.title.html_safe%>:</h5>
			<%= f.numbers.html_safe%>
			</div>
			<% iter += 1 %>
		<% end %>	
	</div>
        <p style="color:#a3a9b0;">&copy; [A]ngle Все права защищены.</p>
</div>
</body>
</html>
